*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #fff;
    /* overflow: hidden; */
}

@font-face {
    font-family: "boot";
    src: url(font/bootstrap-themes.woff2);
}
.main-header{
    position: relative;
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid#e5e9ef;
    margin-top: -1px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}


.header-content a{
    text-decoration: none;
}

.boot{
    color: #202020;
    letter-spacing: -0.15px;
    line-height: 24px;
    font-size: 16px;
    padding: 8.5px 0;
    font-weight: 500;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: 1px;
    
}
.boot{
    display: inline-block;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    outline: none;
}
/* .header-space{
    margin-left: 109.328px;
} */

.main-header .hamber{
    background-image: url(img/down/hamber.svg);
   
}
.hamber{
    display: inline-block;
    width: 28.125px;
    height: 28.125px;
    font-size: 18.75px;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.hamber-burger{
    padding: 5.25px 11.25px 3.75px;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-right: -1px;
}

.section{
    padding-top: 15px;
    padding-bottom: 30px;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

/* .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-left: -15px;
} */

.now{
    
    font-size: 13px;
    color: #838e95;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    letter-spacing: -0.15px;
    font-family: inherit;
}

.all-themes{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.28px;
    line-height: 39.2px;
    margin-top: -1px;
    margin-bottom: 7.5px;
}

.sort{
    position: relative;
    width: 100%;
    min-height: 1px;
}

.form-control{
    width: 100%;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: calc(2.25rem + 2px);
    height: 35.75px;
    appearance: none;
    margin-left: -1px;
}

 
.form-control.input-text{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #838e95;
    font-weight: 400;
    letter-spacing: normal;
}

.form-control.form-arrow{
    background-image: url(img/down/downarow.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.form-control:focus{
    background-color: #fff;
    border-color: #80bdff;
    outline: none;
}
.archive-title{
    border-bottom: 1px solid #e5e9ef;
    margin: 0px 0px 30px;
    padding: 0px 0px 20.25px;
}
ul.cards{
    list-style: none;
    margin-bottom: 20px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: -15px;
    margin-left: -15px;
}

.cards-list{
    box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.theme-card-body{
    margin-bottom: 1rem;
    display: block;
    font-size: 14px;
    perspective: 1000px;
}
 .theme-card{
    position: relative;
    height: 0;
    padding-bottom: 74.5%;
    background-color: #e5e9ef;
    border-radius: 8px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06);
    transition: all .5s ease-out;
} 

.theme-card a.d-block{
    height: 0;
    padding-bottom: 74.5%;
    overflow: hidden;
}
.d-block{
    display: block;
}

a{
    transition: 250ms;
    cursor: pointer;
}

.theme-card-footer{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    color: #343434;
}

.theme-card-footer-item:first-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.theme-card-footer-item > *:not(:last-child) {
    margin-bottom: .3rem;
}

.card-title{
    text-decoration: none;
    color: #343434;
    font-weight: 500;
    font-family: inherit;
    line-height: 21px;
    letter-spacing: -0.15px;
    font-size: 14px;
    margin: 0px 3.75px 1.5px 0px;

}
/* .theme-card img .theme-card .theme-card__img{
    width: 100%;
} */
.theme-card img, .theme-card .theme-card__img{
    width: 100% 
}
.theme-card img, .theme-card .theme-card__img {
    border-radius: 8px;
}
.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%;
}
.theme-card-info{
    margin-bottom: 20px;
}
.card-lists a{
    color: #838e95;
    text-decoration: none;
    font-size: 14px;
    line-height: normal;
    font-family: inherit;
    letter-spacing: -0.15px;
}

.card-lists li{
    display: inline-block;
    margin-right: 10px;
}
.card-lists{
    margin-top: 4px;
}

P:last-child{
    margin-bottom: 0;
}

.theme-card-price .symbol{
    margin-bottom: 1.500px;
    letter-spacing: -0.1px;
}
.theme-card-price{
    margin-top: 5px;
}

.pagination{
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    -webkit-box-pack: center;
    line-height: 22.5px;
}
.page-numbers{
    text-decoration: none;
}

.page-item.active .page-numbers{
    background-color: #7952b3;
    border-color: #7952b3;
    z-index: 2;
    color: #fff;

}
.page-item:focus{
    color: #7952b3;
}
.page-numbers a:hover{
    background-color: #fff;
}
.page-item:first-child .page-numbers{
    margin: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-numbers{
    position: relative;
    display: block;
    margin-left: -1px;
    padding: 7.5px 11.25px;
    line-height: 1.25;
    border: 1px solid #ddd;
    color: #7952b3;
}
.bootstrap-themes-icon-right-open::before{
  
    content: '\e802';
}

[class^="bootstrap-themes-icon-"]::before{

    font-family: "boot";
    font-style: normal;
    font-weight: normal;
    /* speak: none; */
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;

}

.footer-inner{
    border-top: 1px solid #d5dce5;
    padding: 30px 0;
}

.footer-item{
    border-bottom: 1px solid #d5dce5;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
/* .foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.form-group{
    margin-bottom: 1.5rem;
}
.theme{
    margin-bottom: 3.75px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: -0.16px;
    line-height: 22.4px;
    color: #272727;
}
.form-themes{
    color: #838e95;
    font-family: 13px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.15px;
    line-height: 19.5px;
}
#signup-footer{
    display: flex;
    align-items: flex-start;
}
.form-group.form{
    width: 100%;
    margin-right: 0.5rem;
}
/* .mail{
    position: absolute;
    left: -5000px;
} */
.form-control--muted{
    background: #edf0f5;
    border-color: #edf0f5;
}
.form-controls{
    height: 40px;
    width: 100%;
    display: block;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0 ,0.15);
} 
.btn{
    padding: 7.5px 18px;
    font-size: 12px;
    display: inline-block;
    font-family: inherit;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 1.25;
    border-radius: 0.25rem;
}
.btns {
    padding: 10.5px 12px;
    font-size: 14px;
    display: inline-block;
    font-family: inherit;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 1.25;
    border-radius: 0.25rem;
}
.btns.btn-brand{
    background: #7952b3;
    color: #fff;
}
.btn.btn-brand{
    background: #7952b3;
    color: #fff;
}
.theme-card-overlay{
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    visibility: hidden;
}
.btn-sm{
    line-height: 1.5;
    border-radius: 0.2rem;
}
/* a:hover, a:focus, a:visited{
    outline: none;
    outline-offset: 0;
} */
.theme-card-body:hover .theme-card-overlay{
    opacity: 1;
    visibility: visible;
}
.input:focus{
    outline: none;
}
#mce-EMAIL{
    outline: none;
    border: none;
    color: #838e95;
    letter-spacing: -0.5px;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 17.5px;
}
.footer-email-input{
    color: #838e95;
    letter-spacing: -0.3px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
}
 /* .footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
 } */
 .nav{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
}
.nav a{
    text-decoration: none;
}
.footer-sub-nav li{
    padding-right: .75rem;
    padding-left: .75rem;
}
.footer-sub-nav li a{
    font-size: 13px;
    letter-spacing: -0.15px;
    font-weight: 400;
    line-height: 19.5px;
    display: block;
    color: #59626d;
    padding: .5rem 0;
}
.footer-sub-nav{
    display: flex;
    justify-content: center;
}
.footer-sub-nav li:first-child{
    padding-left: 0;
}
/* .navbar-collapse{
    display: none;
} */
.rating{
    display: none;
}
.hidden{
    display: none;
}
.collapse{
    display: none;
    transition: all 0.3s ease-in-out;
}

.collapse.show{
    display: block;
}
.main-header > .header-content{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.form-navbar{
    position: relative;
    font-family: "boot";
}
.form-navbar::before{
    content: '\e805';
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
    color: #cccccc;
}
.form-navbar .form-input{
    width: 100%;
    display: block;
    background: #edf0f5;
}

.form-navbar .form-input{
    border-color: #edf0f5;
    padding-left: 30px;
    height: 35px;
    transition: 250ms;
}
.form-input{
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    font-size: 15px;
    color: #272727;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.form-navbar{
    padding: 20px 15px;
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid #e5e9ef;
    border-bottom: 1px solid #e5e9ef;
}
.navbar-collapse{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
    flex-basis: 100%;
}
.nav-link{
    display: block;
    padding: 0.7rem 1rem;
}
.navbar-nav li{ 
    list-style: none;
}
.navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav .nav-link{
    font-size: 16px;
}
.bar-1{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
/* .nav-link{
    border-bottom: 1px solid #e5e9ef;
} */
/* .navbar:not(.navbar-preview) .dropdown-toggle:after{
    content: none;
} */

.drop:after{
    font-family: "boot";
    content: '\e800';
    border: none;
    vertical-align: baseline;
    margin-right: 1.5em;
}
.drop:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    /* vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent; */
}
/*  */

.dropdown-menu.show{
    display: block;
}
#menu-top{
    border-color: #d5dce5;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    z-index: 1000;
}
.menu-top{
    position: static;
    float: none;
}
.navbar-top-collapse > .nav{
    display: block;
    width: 100%;
}
.hide-items{
    display: none;
}
.show-items{
    display: block;
}
.active-category{
    color: rgba(0, 0, 0, 0.7);
}
.navbar-top-collapse li{
    background: none;
    border: 0;
    clear: both;
    color: #838e95;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 1.5rem;
    text-align: inherit;
    white-space: nowrap;
    width: 100%;
}
.nav-item-line{
    height: 1px; 
    background: #d5dce5;
    margin-left: -15px;
    margin-right: -15px;
}
.form-input{
    outline: none;
    cursor: pointer;
}

.nav-light .navbar-nav .show-items > .nav-link{
    color: rgba(0,0,0,0.7);
}

/* .nav-light .navbar-nav .nav-link:hover{
    color: rgba(0,0,0,0.7);
}  */
.nav-link:hover{
    color: rgba(0, 0, 0, 0.7);
}
#menu-top li:hover{
   color: rgba(0, 0, 0, 0.7);
} 
.nav-link.drop:hover {
    color: rgba(0, 0, 0, 0.7);
}
  
.nav-link.drop.active-link {
    color: rgba(0, 0, 0, 0.9)
}
  
.bootstrap-themes-icon-left-open::before{
    content: '\e801';
}

[class^="bootstrap-themes-icon-"]{
    font-family: "bootstrap-themes";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
}
 /* json cards */


@media screen and (min-width: 576px){
    .container{
        max-width: 540px;
    }
    .boot{
        margin-left: 2px;
    }
    .hamber-burger{
        margin-right: 2px;
    }
    .theme-card-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .theme-card-footer-item > *:not(:last-child) {
        margin-bottom: .1rem;
    }
    
    .card-lists{
        margin-top: 3px;
    }
    .theme-card-body{
        margin-bottom: 14px;
    }
    .rating{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .card2{
        display: none;
    }

    .card3{
        display: inline;
    }
    .container{
        max-width: 720px;
    }
    .form-control{
        width: 100%;
        padding: 0.5rem 0.75rem;
        line-height: 1.25;
        background-color: #fff;
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        height: calc(2.25rem + 2px);
        height: 35.75px;
        appearance: none;
        margin-left: -1px;
        margin-top: 13px;
    }

    .header-content{
        margin-left: 9px;
        margin-right: 9px;
    }
    .boot{
        margin-left: -1px;
    }
    .hamber-burger{
        margin-right: -1px;
    }
    .section{
        padding-top: 30px;
        padding-bottom: 65px;
    }
    .show-contents{
        position: relative;
        width: 100%;
        min-height: 1px;
    }
    .items{
        display: flex;
        align-items: center;

    }
    .sort{
        position: relative;
        width: 100%;
        min-height: 1px;
        max-width: 180.8px;
    }
    .archive-title{
        margin: 0px 0px 23px;
    }
    .rating{
        display: flex;
        list-style: none;
    }
    .rating-item::before{
        content: '\e806';
    }
    .rating-item{
        font-family: "boot";
        margin-left: .1rem;
        color: #e1e1e1;
        font-size: 15px;
    }
    .theme-card-price{
        text-align: right;
    }
    .rating-item-active{
        color: #f7de45;
    }
    .foot{
        display: flex;
        justify-content: space-between;
    }
    .footer-sub-nav{
        justify-content: unset;
    }
    .theme{
        font-size: 18px;
    }
    .footer-email-input{
        min-width: 250px;
    }
}   

@media screen and (min-width: 992px){
    .header-space{
        display: none;
    }
    .boot{
        margin-right: 15px;
    }
    .navbar-expand .navbar-collapse{
        display: flex;
    }
    .navbar-collapse{
        flex-basis: 100%;
        align-items: center;
        -webkit-box-align: center;
    }
    .form-inline{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
 
    .form-inline{
        position: relative;
        transition: transform 250ms ease-in-out;
    }

    .form-inline.move-left{
        transform: translateX(-100px);
    }

    .bar-2{
        margin-bottom: 0;
        margin-top: 0;
    }
    .form-navbar:before{
        content: '\e805';
        z-index: 1;
        position: absolute;
        left: 3px;
        top: 50%;
        color: #cccccc;
        transform: translateY(-50%);
    }
    .form-navbar{
        position: relative;
        font-family: "boot";
    }
    .order-1{
        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .form-navbar .form-input{
        position : absolute;
        z-index: 10;
        border-color: transparent;
        width: 30px;
        background: transparent;
        padding-right: 0;
        transition: all 250ms ease-in-out;
    }
    .nav-link .space{
        padding-left: 30px;
    }
    .form-navbar .form-input:focus{
        width: 100px;
    } 
    .form-inline .form-input{
        display: inline-block;
        vertical-align: middle;
    }
    .navbar-expand .navbar-nav{
        flex-direction: row;
        white-space: nowrap;

    }
    .navbar-nav{
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: flex;
    }
    .nav-all{
        margin-right: 290.319px;
    }
    .order-2{
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
    .nav-item:first-child{
        padding-left: 0;
    }
    .nav-item{
        position: relative;
    }
    .nav-link{
        display: block;
        padding: 0.5rem 1rem;
    }
    .navbar-expand .navbar-nav .nav-link{
        padding-right: .5rem;
        padding-left: .5rem;
    }
    /* .navbar-light .navbar-nav .nav-link{
        color: #838e95;
        font-size: 16px;
    } */
    .nav-link{
        color: #838e95;
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 24px;
    } 
    .ml-2{
        margin-left: 4.5rem;
    }
    .order-3{
        -webkit-box-ordinal-group: 4;
        order: 3;
    }
    .navbar-expand > .header-content{
        flex-wrap: nowrap;
    } 

    .navbar-expand > .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }  
    .container{
        max-width: 960px;
    }
    .footer-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .rl-block{
        display: block;
    }
    .hidden{
        font-size: 13px;
        font-weight: 400;
        font-family: inherit;
        letter-spacing: -0.15px;
        line-height: 19.5px;
        color: #59626d;
    }
    .hidden a{
        text-decoration: none;
        color: #00a4ff;
    }
    .header-content{
        margin-left: 15px;
        margin-right: 15px;
    }

     




    /*.navbar:not(.navbar-preview) .dropdown-toggle:after{
        content: none;
    }
    .dropdown-toggle:after{
        font-size: "boot";
        content: '\e800';
        border: none;
        vertical-align: baseline;
        margin-right: 1.5em;
    }
    .dropdown-toggle:after{
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
    } */
}
@media screen and (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
    .header-content{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 1330px) {
    /* .container{
        max-width: 85%;
    } */
    .navbar-expand #menu-top{
        position: absolute;
        top: 40px;
    }
    /* .main-header{
        height: 56px;
    }     */
    .nav-all{
        margin-right: 468.24px;
    }
    .nav-item .bj a{
        padding-left: 25px;
    }
    .theme-card-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;
    }
    .theme-card-footer-item > *:not(:last-child){
        margin-bottom: .3rem;
    }
    .theme-card-price{
        margin-top: 0;
    }
    .header-content{
        margin-left: 90px;
        margin-right: 90px;
    }
    .drop:after{
        content: none;
    }
    .form-navbar{
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        border-top: unset;
        border-bottom: unset;
    }
    .btns{
        padding: 10.5px 27px;
    }

    .nav-link .gap{
        padding-left: 0;
    }
   
}

/* @media screen and (min-width: 1440px){
    .container{
        margin-left: 150px;
        margin-right: 150px;
    }
    .header-content{
        margin-right: 63px;
        margin-left: 130px;
    }
    .nav-all{
        margin-right: 552.24px;
    }
} */

/*  */


